@import "responsive";

// == PALETTE ==
$solightorange: #faeee7;
$carbonblack: #222831;
// == /PALETTE ==

// == FONTS ==
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

$font-info: 'Karla', sans-serif;
$font-titles: 'Crimson Text', serif;
$font-custom: 'Indie Flower', cursive;
// == /FONTS ==

* {
    margin: 0;
    padding: 0;
}

html{
    background: $solightorange;
}

#errormsg{
    font-family: $font-titles;
    font-size: 1.8em;
    margin: 6rem;
}

.about_holder{
    width: 35%;
    display: block;
    margin: auto;
    text-align: left;
    margin-top: 1.3rem;
    margin-bottom: 5rem;
    @include m-screen{
        width: 85%;
    }
    #techs{
        font-size: 1.2em;
        color: #400082;
        margin-top: 0.667rem;
    }
    p{
        font-family: $font-info;
        font-size: 1.4em;
        color: #801336;
        margin-top: 0.867rem;
    }
    .logo{
        text-align: center;
        p{
            font-family: $font-custom;
        }
    }
}

.coinLog{
    width: 75%;
    border-radius: 50px;
    padding: 0.667rem;
    background: #32407b;
    margin: auto;
    color: white;
    margin-bottom: 1.6rem;
    font-size: 1.2em;
    font-family: $font-info;
    animation: fusion 2s;
    .btn_link{
      padding: 0.600rem;
      font-family: $font-info;
      font-size: 1em;
      border-radius: 6px;
      background-color: #f7beff;
      border: none;
      box-shadow: 2px 2px 15px $carbonblack;
      color: #2d132c;
      &:hover{
          cursor: pointer;
          color: white !important;
          background-color: #801336 !important;
      }
    }
    @include m-screen{
        width: 20%;
        display: inline-block;
        margin-right: 0.667rem;
        margin-left: 0.667rem;
        border-radius: 20px;
    }
    @include m-screen{
        width: 85%;
        display: inline-block;
        margin-right: 0.667rem;
        border-radius: 20px;
    }
    p{
        display: inline-block;
        margin: 1.2rem;
        @include m-screen{
            display: block;
        }
    }
    img{
        position: relative;
        top: 12px;
    }
    .info{
        span{
            font-weight: bold;
            color: #f67280;
        }
    }
    &:hover{
        background-color: white;
        color:navy !important;
        .rlink{
            color:navy !important;
        }
        .btn_link{
            box-shadow: 2px 2px 15px #f7beff;
            background-color: navy;
            color: white;
        }
    }
    .rlink{
        color: white !important;
        text-decoration: none;
        font-weight: bold;
        &:hover{
          color: #f67280!important;
          cursor: pointer;
        }
      }
}

.log_info{
    font-family: $font-titles;
    color: $carbonblack;
    font-size: 1.6em;
    padding: 1.2rem;
}

.footer_{
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    p{
        font-family: $font-custom;
        font-size: 1em;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
}

.chart{
    display: block;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 7rem;
    width: 80%;
    @include m-screen{
        width: 100%;
    }
}

.rrss{
    margin-bottom: 5rem;
    p{
        font-family: $font-info;
        font-size: 1.6em;
        @include m-screen{
            font-size: 1.2em;
        }
    }
    a{
        text-decoration: none;
        font-size: 1.3em;
        color: #fc7978;
    }
}

.btn_log{
    button{
        padding: 0.900em;
        margin: 2rem;
        border-radius: 35px;
        font-family: $font-info;
        font-size: 1.6em;
        background-color: #96d1c7;
        color: #940a37;
        box-shadow: 2px 1px 18px #96d1c7;
        border: none;
        &:hover{
            cursor: pointer;
            background-color: #512c96;
            color: white;
        }
    }
}

.search{
    margin-top: -1rem;
    input{
        padding: 1em;
        margin: 3rem;
        width: 70%;
        border-radius: 12px;
        border: none;
        font-family: $font-info;
        font-size: 1.2em;
        color: #512c96;
        border: 2px solid #512c96;
        text-align: center;
    }
}

.coin_holder{
    padding-top: 1.2rem;
    width: 95%;
    display: block;
    margin: auto;
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            margin: 1.8rem;
            font-family: $font-info;
            color: #512c96;
            img{
                position: relative;
                top: 12px;
            }
            @include m-screen{
                display: block;
            }
        }
    }
}
.image{
    width: 100%;
}


@keyframes fusion{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #f67280;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }